.cart-modal {
  display: none;
  position: absolute;
  top: 1.8rem;
  right: -0.2rem;
  transform: translateY(1rem);
  width: calc(100vw - 1rem);
  max-width: 22.5rem;

  background: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 1.25rem 3rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-top: 1rem;

  @media (min-width: 48rem){
    right: -1.5rem;
    top: 2.2rem;
    width: 22.5rem;
    transform: translateY(2.5rem);
  }

  &--active {
    display: flex;
    flex-direction: column;
  }

  &__header {
    padding: 1.5rem;
    border-bottom: 1px solid var(--light-grayish-blue);
  }

  &__content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1rem;
  }
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;

  &__img {
    width: 3rem;
    border-radius: 0.25rem;
  }

  &__details {
    flex: 1;
    font-size: 0.9rem;
    font-weight: var(--fw-bold);
    line-height: 1.5;
    color: var(--dark-grayish-blue);
    
    strong { 
      color: var(--very-dark-blue); 
      margin-left: 0.25rem;
    }
  }

  &__delete {
    background: none;
    border: none;
    cursor: pointer;
  }

  &__checkout {
    width: 100%;
    background-color: var(--orange);
    color: var(--white);
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: var(--fw-bold);
    cursor: pointer;
  }
}
