.gallery {
  width: 100%;
  margin-block-end: 2rem;

  &__main {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;

    @media(min-width: 48rem){
      border-radius: 1rem;
      justify-self: end;
      cursor: pointer;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--white);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: transparent;
    border-radius: 2.5rem;

    &--prev { left: 1rem; }
    &--next { right: 1rem; }

    @media (min-width: 48rem) {
      display: none; 
    }
  }

  &__thumbnails {
    display: none;

    @media (min-width: 48rem) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
      margin-top: 2rem;
    }
  }

  &__thumbnail {
    cursor: pointer;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: var(--white);
    border: 2px solid transparent;
    transition: all 0.2s;

    img {
      transition: opacity 0.2s;
    }

    &:hover img {
      opacity: 0.5;
    }

    &--active{
      border-color: var(--orange);
      img {
        opacity: 0.3;
      }
    }

  }

}