@use "../abstracts/variables" as *;

.header {
  height: 4.25rem;
  border-bottom: 1px solid var(--light-grayish-blue);
  position: relative;

  @media (min-width: 48rem) {
    height: 7rem; 
    margin-bottom: 2.5rem;
  }

  &__container {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1rem;
    
    @media (min-width: 48rem) {
      gap: 3.5rem;
    }
  }

  &__toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    margin-inline-start: -0.5rem;

    @media (min-width: 48rem) {
      display: none;
    }
  }

  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 65%;
    background: var(--white);
    z-index: 5000;
    padding: 1.5rem;
    
    // Effect transition
    transform: translateX(-100%); // to left
    visibility: hidden;           
    opacity: 0;                  
    transition: transform 0.3s ease-in-out, opacity 0.3s ease, visibility 0.3s;

    &--active {
      display: block ;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 65%;
      background: var(--white);
      z-index: 5000;
      padding: 1.5rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.75);

      transform: translateX(0);
      visibility: visible;
      opacity: 1;
    }

    &--close {
      background:none; 
      border:none; 
      margin-bottom: 2rem; 
      cursor:pointer;

      @media (min-width: 48rem){
        display: none;
      }
    }

    @media (min-width: 48rem) {
      display: block; 
      position: static;
      height: 100%;
      width: auto;
      padding: 0;
      background: none;
      box-shadow: none;

      transform: translateX(0);
      visibility: visible;
      opacity: 1;
      transition: none;
    }
  }

  &__close {
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 3rem;
    display: block;

    @media (min-width: 48rem) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    font-weight: var(--fw-bold);

    @media (min-width: 48rem) {
      flex-direction: row;
      height: 100%;
      gap: 2rem;
      font-weight: var(--fw-reg);

      transition: opacity 0.4s ease 0.2s;
    }
  }

  &__link {
    color: var(--dark-grayish-blue);
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    transition: color 0.2s;

    &:hover {
      color: var(--very-dark-blue);

      &::after {
        @media (min-width: 48rem) {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: var(--orange);
        }
      }
    }
  }

  &__cart-profile {
    border: none;
    background: none;
    margin-inline-start: auto; 
    display: flex;
    position: relative;
    align-items: center;
    gap: 1rem;
    min-width: max-content;

    @media (min-width: 48rem) {
      gap: 2.5rem;
    }
  }

  &__cart-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
  }

  &__cart-count {
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 0.6rem;
    font-weight: var(--fw-bold);
    padding-inline: 0.5rem;
    border-radius: 1rem;
  }

  &__profile {
    border: none;
    background: none;
  }

  &__avatar {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    display: block;
    transition: transform 0.2s, ring 0.2s;
    object-fit: cover;
    flex-shrink: 0;

    @media (min-width: 48rem) {
      width: 3.125rem; 
      height: 3.125rem;
    }

    &:hover {
      box-shadow: 0 0 0 2px var(--orange);
    }
  }

    .stop-transitions * {
    transition: none;
  }

}