@use "../abstracts/variables" as *;

.product {
  padding-block: 1.5rem;

  @media (min-width: 48rem){
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
    padding-block: 5rem;
  }

  &__info-container {
    @media (min-width: 48rem){
      padding: 0;
    }
  }

  &__subtitle {
    color: var(--dark-grayish-blue);
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
    font-weight: var(--fw-bold);
    margin-bottom: 0.75rem;
  }

  &__title {
    font-size: clamp(1.75rem, 5vw, 2.75rem);
    line-height: 1.1;
    color: var(--very-dark-blue);
    margin-block-end: 1rem;
  }

  &__description {
    color: var(--dark-grayish-blue);
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-block-end: 1.5rem;
  }

  // Price
  &__price-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    @media (min-width: 48rem) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__price-current {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__price {
    font-size: 1.75rem;
    font-weight: var(--fw-bold);
    color: var(--very-dark-blue);
  }

  &__discount {
    background-color: var(--black-75);
    color: var(--white);
    padding: 0.25rem 0.5rem;
    border-radius: 0.3rem;
    font-weight: var(--fw-bold);
  }

  &__price-old {
    color: var(--grayish-blue);
    font-weight: var(--fw-bold);
    text-decoration: line-through;
  }

  // product action cart
  &__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: 48rem) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__quantity-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-grayish-blue);
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: var(--fw-bold);

    @media (min-width: 48rem) {
      flex: 0.4;
    }

    button {
      background: none;
      color: var(--orange);
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: opacity 0.2s;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__quantity {
    color: var(--very-dark-blue);
  }

  &__add-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--orange);
    color: var(--black-75);
    border: none;
    border-radius: 0.5rem;
    padding: 1.25rem;
    font-weight: var(--fw-bold);
    cursor: pointer;
    box-shadow: 0 20px 50px -20px var(--orange);
    transition: background-color 0.2s;

    @media (min-width: 48rem){
      flex: 0.6;
    }

    &:hover {
      background-color: var(--light-orange);
    }

    img {
      filter: brightness(0.4);
      width: 1rem;
    }
  }

}
